In [1]:
import numpy as np
import pandas as pd
import urllib
import json
import requests

## Inputs: Dates and station identifier

In [2]:
# The date format could be AAAA or AAAA-M
start_date = '2012'
end_date = '2012' 
ID = '8178D'
print('\n Downloading data from {} to {} from the station with ID: {}'.format(start_date, end_date, ID))

 Downloading data from 2012 to 2012 from the station with ID: 8178D

## Stablish a connection to the api

In [3]:
api_key='eyJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ0c3NhbmNoZXpwYXN0b3JAZ21haWwuY29tIiwianRpIjoiYzQzZGM1ZmYtNmRiYS00MzFmLTk3OTEtZWMzNGE3YjUzMDI3IiwiaXNzIjoiQUVNRVQiLCJpYXQiOjE1NjY0Nzc2OTgsInVzZXJJZCI6ImM0M2RjNWZmLTZkYmEtNDMxZi05NzkxLWVjMzRhN2I1MzAyNyIsInJvbGUiOiIifQ.bjmGdiW9vQ2ThnrLryvCxv2tad8XRDXA9zlcBQRg-U4'

In [20]:
# Mensuales:
 url = 'https://opendata.aemet.es/opendata/api/valores/climatologicos/mensualesanuales/datos/anioini/{}/aniofin/{}/estacion/{}/?api_key={}'.format(start_date, end_date, ID, api_key)
print(url)

https://opendata.aemet.es/opendata/api/valores/climatologicos/diarios/datos/fechaini/2012-01-01T00:00:00UTC/fechafin/2012-12-31T23:59:59UTC/estacion/8178D/?api_key=eyJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ0c3NhbmNoZXpwYXN0b3JAZ21haWwuY29tIiwianRpIjoiYzQzZGM1ZmYtNmRiYS00MzFmLTk3OTEtZWMzNGE3YjUzMDI3IiwiaXNzIjoiQUVNRVQiLCJpYXQiOjE1NjY0Nzc2OTgsInVzZXJJZCI6ImM0M2RjNWZmLTZkYmEtNDMxZi05NzkxLWVjMzRhN2I1MzAyNyIsInJvbGUiOiIifQ.bjmGdiW9vQ2ThnrLryvCxv2tad8XRDXA9zlcBQRg-U4

In [21]:
api_json = urllib.request.urlopen(url).read().decode()
print(api_json)

{
  "descripcion" : "exito",
  "estado" : 200,
  "datos" : "https://opendata.aemet.es/opendata/sh/92b03106",
  "metadatos" : "https://opendata.aemet.es/opendata/sh/b3aa9d28"
}

## Download the data

In [23]:
# Cast api_json to dictionary
js = json.loads(api_json)
# Extract the data
data = json.loads(urllib.request.urlopen(js['datos']).read().decode())
print("The result is a list of length ", len(data))
print('i.e. we have to delete the last month of data')
data = data[:12]

The result is a list of length  366
i.e. we have to delete the last month of data

In [24]:
metadata = json.loads(urllib.request.urlopen(js['metadatos']).read().decode("iso8859-1"))
def show_metadata(fields):
    for dic in range(len(metadata['campos'])):
        if metadata['campos'][dic]['id'] in fields:
            print(metadata['campos'][dic], '\n')

In [25]:
fields = ['fecha', 'indicativo', 'tm_mes', 'q_med', 'w_racha']
show_metadata(fields)

{'id': 'fecha', 'requerido': True, 'tipo_datos': 'string', 'descripcion': 'fecha del dia (AAAA-MM-DD)'}

{'id': 'indicativo', 'requerido': True, 'tipo_datos': 'string', 'descripcion': 'indicativo climatol√≥gico'}

## Dataframe

In [28]:
DF = pd.DataFrame(data)
DF.head()
print(DF.columns)

Index(['altitud', 'dir', 'fecha', 'horaPresMax', 'horaPresMin', 'horaracha',
       'horatmax', 'horatmin', 'indicativo', 'nombre', 'prec', 'presMax',
       'presMin', 'provincia', 'racha', 'sol', 'tmax', 'tmed', 'tmin',
       'velmedia'],
      dtype='object')

In [29]:
# The DF with the fields that we are interested in:
DF = DF.filter(fields)
DF.head()

,altitud,dir,fecha,horaPresMax,horaPresMin,horaracha,horatmax,horatmin,indicativo,nombre,prec,presMax,presMin,provincia,racha,sol,tmax,tmed,tmin,velmedia
0,676,29,2012-01-01,Varias,14,23:59,14:23,08:00,8178D,ALBACETE,"0,0","950,0","946,8",ALBACETE,"6,4",NaN,"18,2","10,2","2,1","0,3"
1,676,28,2012-01-02,23,00,10:50,13:10,23:59,8178D,ALBACETE,"0,0","954,4","942,3",ALBACETE,"14,2",NaN,"12,9","8,9","4,9","3,6"
2,676,30,2012-01-03,11,16,12:50,14:00,07:00,8178D,ALBACETE,"0,0","954,7","952,8",ALBACETE,"6,4",NaN,"14,1","7,2","0,2","1,4"
3,676,29,2012-01-04,11,16,14:50,14:20,07:00,8178D,ALBACETE,"0,0","955,9","952,1",ALBACETE,"7,8",NaN,"15,3","7,8","0,4","1,7"
4,676,29,2012-01-05,00,17,13:50,14:50,Varias,8178D,ALBACETE,"0,0","954,2","949,2",ALBACETE,"9,7",NaN,"15,8","10,0","4,1","2,8"

In [25]:
print('How many nulls are in the DF? ', DF.isnull().sum())

How many nulls are in the DF?  fecha         0
indicativo    0
tm_mes        0
q_med         0
w_racha       2
dtype: int64

In [108]:
def w_racha_splitter():
    w_racha = DF['w_racha'].values
    direction = []
    V = []
    for elem in w_racha:
        if isinstance(elem, str):
            direction.append(elem[:-4].split('/')[0])
            V.append(elem[:-4].split('/')[1])
        else: 
            direction.append(elem)
            V.append(elem)
    return direction, V

In [27]:
DF['w_racha'].values[0]

nan

In [28]:
direction, V = w_racha_splitter()

In [29]:
DF['w_direction'] = direction
DF['Vel'] = V

In [30]:
# Cast the fields
DF['tm_mes'] = DF['tm_mes'].astype(float)
DF['q_med'] = DF['q_med'].astype(float)
DF['w_direction'] = DF['w_direction'].astype(float) 
DF['Vel'] = DF['Vel'].astype(float)

In [31]:
DF

      fecha indicativo  tm_mes  q_med      w_racha  w_direction   Vel
0    2012-1      8178D     7.3  947.1          NaN          NaN   NaN
1    2012-2      8178D     5.1  944.0  30/15.0(06)         30.0  15.0
2    2012-3      8178D    10.4  945.8  27/11.4(06)         27.0  11.4
3    2012-4      8178D    12.7  933.2  26/17.5(14)         26.0  17.5
4    2012-5      8178D    19.3  939.6  28/16.9(20)         28.0  16.9
5    2012-6      8178D    25.0  939.6  28/14.7(11)         28.0  14.7
6    2012-7      8178D    26.5  939.7  30/12.5(11)         30.0  12.5
7    2012-8      8178D    27.9  940.5  29/13.9(05)         29.0  13.9
8    2012-9      8178D    21.0  939.7          NaN          NaN   NaN
9   2012-10      8178D    15.9  937.2  25/13.3(21)         25.0  13.3
10  2012-11      8178D    10.8  937.7  27/15.8(28)         27.0  15.8
11  2012-12      8178D     7.2  943.7  28/13.6(21)         28.0  13.6

## Stations

In [99]:
url_estaciones = 'https://opendata.aemet.es/opendata/api/valores/climatologicos/inventarioestaciones/todasestaciones/?api_key={}'.format(api_key)
print(url_estaciones)

https://opendata.aemet.es/opendata/api/valores/climatologicos/inventarioestaciones/todasestaciones/?api_key=eyJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ0c3NhbmNoZXpwYXN0b3JAZ21haWwuY29tIiwianRpIjoiYzQzZGM1ZmYtNmRiYS00MzFmLTk3OTEtZWMzNGE3YjUzMDI3IiwiaXNzIjoiQUVNRVQiLCJpYXQiOjE1NjY0Nzc2OTgsInVzZXJJZCI6ImM0M2RjNWZmLTZkYmEtNDMxZi05NzkxLWVjMzRhN2I1MzAyNyIsInJvbGUiOiIifQ.bjmGdiW9vQ2ThnrLryvCxv2tad8XRDXA9zlcBQRg-U4

In [100]:
api_stations = urllib.request.urlopen(url_estaciones).read().decode()
js_stations = json.loads(api_stations)

In [101]:
print(api_stations)
print(js_stations['datos'])

{
  "descripcion" : "exito",
  "estado" : 200,
  "datos" : "https://opendata.aemet.es/opendata/sh/6e9ec5e5",
  "metadatos" : "https://opendata.aemet.es/opendata/sh/0556af7a"
}
https://opendata.aemet.es/opendata/sh/6e9ec5e5

In [102]:
metadata = json.loads(urllib.request.urlopen(js_stations['metadatos']).read().decode("iso8859-1"))
show_metadata(['indicativo', 'latitud', 'longitud', 'nombre', 'provincia'])

{'id': 'latitud', 'tipo_datos': 'string', 'requerido': True, 'descripcion': 'latitud de la estaci√≥n'}

{'id': 'provincia', 'tipo_datos': 'string', 'requerido': True, 'descripcion': 'provincia donde reside la estaci√≥n'}

{'id': 'indicativo', 'tipo_datos': 'string', 'requerido': True, 'descripcion': 'indicativo climatol√≥gico de la estaci√≥n'}

{'id': 'nombre', 'tipo_datos': 'string', 'requerido': True, 'descripcion': 'ubicaci√≥n de la estaci√≥n'}

{'id': 'longitud', 'tipo_datos': 'string', 'requerido': True, 'descripcion': 'longitud de la estaci√≥n'}

In [103]:
data_stations = json.loads(urllib.request.urlopen(js_stations['datos']).read().decode('latin-1'))
DF_st = pd.DataFrame(data_stations)
DF_st = DF_st.filter(['indicativo', 'latitud', 'longitud', 'nombre', 'provincia'])
airports_position = DF_st['nombre'].str.contains('AEROPUERTO')
DF_airst = DF_st[airports_position]

In [106]:
def Final_DF(airports=None):
    i = 0
    output = {}
    for elem in airports:
        i += 1
        pos = DF_airtst['nombre'].str.contains(elem)
        DF_final = DF_airtst[pos]
        output['station' + str(i)] =  DF_final
    return pd.concat([output['station1'], output['station2'], output['station3']])

In [107]:
DF_airports = Final_DF(['BARCELONA', 'PAMPLONA', 'ZARAGOZA'])
DF_airports

    indicativo  latitud longitud                nombre  provincia
52        0076  411734N  020412E  BARCELONA AEROPUERTO  BARCELONA
219      9263D  424637N  013900W   PAMPLONA AEROPUERTO    NAVARRA
289       9434  413938N  010015W   ZARAGOZA AEROPUERTO   ZARAGOZA