In [6]:
import numpy as np
import pandas as pd
import urllib
import json
import requests

In [10]:
class AEMET_GET:
    """This class is developed with the proposal of download the data from several stations at a chosen year. 
    Inputs: Starting and ending date with format AAAA
    Methods: connect -> Inputs the api key, an string indicating what information you want to access, Data or Station
             print_metadata -> Inputs the Json returned by connect and the fields you want to know and print the
                            information
             get_DF -> Inputs the fields that you want to stack to the DF and the json of the Data connection 
             get_stations -> Inputs the cities of the airports that you want to download and
             the  Json Station connection
    """
    
    def __init__(self, start_date, end_date):
        self.start = str(start_date)
        self.end = str(end_date)
        print("""\n You are going to Download the data from {} to {} 
from the stations with IDs:\n""".format(start_date, end_date))
        for ID in ['0076', '9263D', '9434']:
            print(ID)
    
    def connect(self, api_key, where, ID):
        if where == 'Data':
            url = 'https://opendata.aemet.es/opendata/api/valores/climatologicos/mensualesanuales/datos/anioini/{}/aniofin/{}/estacion/{}/?api_key={}'.format(self.start, self.end, ID, api_key)
            api_json = urllib.request.urlopen(url).read().decode()
            js = json.loads(api_json)
            print(api_json)
            return js
        elif where == 'Station':
            url_estaciones = 'https://opendata.aemet.es/opendata/api/valores/climatologicos/inventarioestaciones/todasestaciones/?api_key={}'.format(api_key)
            api_stations = urllib.request.urlopen(url_estaciones).read().decode()
            js_stations = json.loads(api_stations)
            print(api_stations)
            return js_stations
        else:
            raise TypeError('ERROR! Possible conections: Data OR Station')
    
    def print_metadata(self, js, fields):
        metadata = json.loads(urllib.request.urlopen(js['metadatos']).read().decode("iso8859-1"))
        def show_metadata(fields):
            for dic in range(len(metadata['campos'])):
                if metadata['campos'][dic]['id'] in fields:
                    print(metadata['campos'][dic], '\n')
        show_metadata(fields)
        
    def get_DF(self, fields, js):
        data = json.loads(urllib.request.urlopen(js['datos']).read().decode())
        data = data[:12]
        DF = pd.DataFrame(data)
        DF = DF.filter(fields)
        def w_racha_splitter():
            w_racha = DF['w_racha'].values
            direction = []
            V = []
            for elem in w_racha:
                if isinstance(elem, str):
                    direction.append(elem[:-4].split('/')[0])
                    V.append(elem[:-4].split('/')[1])
                else: 
                    direction.append(elem)
                    V.append(elem)
            return direction, V
        direction, V = w_racha_splitter()
        DF['w_direction'] = direction
        DF['Vel'] = V
        # Cast the fields
        DF['tm_mes'] = DF['tm_mes'].astype(float)
        DF['q_med'] = DF['q_med'].astype(float)
        DF['w_direction'] = DF['w_direction'].astype(float) 
        DF['Vel'] = DF['Vel'].astype(float) 
        DF = DF.drop(columns = 'w_racha')
        return DF
    
    def get_stations(self, airports, js_stations):
        data_stations = json.loads(urllib.request.urlopen(js_stations['datos']).read().decode('latin-1'))
        DF_st = pd.DataFrame(data_stations)
        DF_st = DF_st.filter(['indicativo', 'latitud', 'longitud', 'nombre', 'provincia'])
        airports_position = DF_st['nombre'].str.contains('AEROPUERTO')
        DF_airst = DF_st[airports_position]
        def Final_DF(airports=None):
            i = 0
            output = {}
            for elem in airports:
                i += 1
                pos = DF_airst['nombre'].str.contains(elem)
                DF_final = DF_airst[pos]
                output['station' + str(i)] =  DF_final
            return pd.concat([output['station1'], output['station2'], output['station3']])
        DF_airports = Final_DF(['BARCELONA', 'PAMPLONA', 'ZARAGOZA'])
        return DF_airports

## Download the data

In [11]:
A = AEMET_GET(2012, 2012)

 You are going to Download the data from 2012 to 2012
from the station with ID 0076

 You are going to Download the data from 2012 to 2012
from the station with ID 9263D

 You are going to Download the data from 2012 to 2012
from the station with ID 9434

In [12]:
ID = '0076'
api_key='eyJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ0c3NhbmNoZXpwYXN0b3JAZ21haWwuY29tIiwianRpIjoiYzQzZGM1ZmYtNmRiYS00MzFmLTk3OTEtZWMzNGE3YjUzMDI3IiwiaXNzIjoiQUVNRVQiLCJpYXQiOjE1NjY0Nzc2OTgsInVzZXJJZCI6ImM0M2RjNWZmLTZkYmEtNDMxZi05NzkxLWVjMzRhN2I1MzAyNyIsInJvbGUiOiIifQ.bjmGdiW9vQ2ThnrLryvCxv2tad8XRDXA9zlcBQRg-U4'

In [13]:
js = A.connect(api_key, 'Data', ID)

{
  "descripcion" : "exito",
  "estado" : 200,
  "datos" : "https://opendata.aemet.es/opendata/sh/00c41c02",
  "metadatos" : "https://opendata.aemet.es/opendata/sh/997c0034"
}

In [14]:
A.print_metadata(js, ['fecha', 'indicativo', 'tm_mes', 'q_med', 'w_racha'])

{'id': 'fecha', 'requerido': True, 'tipo_datos': 'string', 'descripcion': 'ano y mes (AAAA-X) donde X es un número de 1 a 13, indicando el mes y el valor 13 indica valor anual'}

{'id': 'indicativo', 'requerido': True, 'tipo_datos': 'string', 'descripcion': 'indicativo climatológico'}

{'id': 'tm_mes', 'requerido': False, 'tipo_datos': 'string', 'unidad': 'grados celsius', 'descripcion': 'Temperatura media mensual/anual (grados celsius)'}

{'id': 'w_racha', 'requerido': False, 'tipo_datos': 'string', 'unidad': 'decenas de grado/ m/sg /fecha', 'descripcion': 'Dirección (decenas de grado), Velocidad (m/sg) y fecha de la racha máxima en el mes/año'}

{'id': 'q_med', 'requerido': False, 'tipo_datos': 'string', 'unidad': 'hPa', 'descripcion': 'Presión media mensual/anual al nivel de la estación (hPa)'}

In [15]:
DF = A.get_DF(['fecha', 'indicativo', 'tm_mes', 'q_med', 'w_racha'], js)
DF.head()

    fecha indicativo  tm_mes   q_med  w_direction   Vel
0  2012-1       0076     9.6  1023.6         26.0  15.0
1  2012-2       0076     7.1  1020.7         33.0  13.9
2  2012-3       0076    12.7  1023.3          7.0  21.1
3  2012-4       0076    15.0  1007.4         34.0  16.9
4  2012-5       0076    19.5  1015.2         24.0  20.6

In [164]:
DF.isnull().sum()

fecha          0
indicativo     0
tm_mes         0
q_med          0
w_racha        0
w_direction    0
Vel            0
dtype: int64

## Station Info

In [165]:
js_st = A.connect(api_key, 'Station', ID)

{
  "descripcion" : "exito",
  "estado" : 200,
  "datos" : "https://opendata.aemet.es/opendata/sh/6e9ec5e5",
  "metadatos" : "https://opendata.aemet.es/opendata/sh/0556af7a"
}

In [166]:
DF_air = A.get_stations(['BARCELONA', 'PAMPLONA', 'ZARAGOZA'], js_st)

In [167]:
DF_air

    indicativo  latitud longitud                nombre  provincia
52        0076  411734N  020412E  BARCELONA AEROPUERTO  BARCELONA
219      9263D  424637N  013900W   PAMPLONA AEROPUERTO    NAVARRA
289       9434  413938N  010015W   ZARAGOZA AEROPUERTO   ZARAGOZA