In [7]:
import numpy as np
import pandas as pd
import urllib
import json
import requests

## Inputs: Dates and station identifier

In [22]:
# The date format could be AAAA or AAAA-M
start_date = '2012'
end_date = '2013' 
ID = '8178D'
print('\n Downloading data from {} to {} from the station with ID: {}'.format(start_date, end_date, ID))

 Downloading data from 2012 to 2013 from the station with ID: 8178D

## Stablish a coneection to the api

In [23]:
api_key='eyJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ0c3NhbmNoZXpwYXN0b3JAZ21haWwuY29tIiwianRpIjoiYzQzZGM1ZmYtNmRiYS00MzFmLTk3OTEtZWMzNGE3YjUzMDI3IiwiaXNzIjoiQUVNRVQiLCJpYXQiOjE1NjY0Nzc2OTgsInVzZXJJZCI6ImM0M2RjNWZmLTZkYmEtNDMxZi05NzkxLWVjMzRhN2I1MzAyNyIsInJvbGUiOiIifQ.bjmGdiW9vQ2ThnrLryvCxv2tad8XRDXA9zlcBQRg-U4'

In [24]:
url = 'https://opendata.aemet.es/opendata/api/valores/climatologicos/diarios/datos/fechaini/{}-01-01T00:00:00UTC/fechafin/{}-12-31T23:59:59UTC/estacion/{}/?api_key={}'.format(start_date, end_date, ID, api_key)
print(url)

https://opendata.aemet.es/opendata/api/valores/climatologicos/diarios/datos/fechaini/2012-01-01T00:00:00UTC/fechafin/2013-12-31T23:59:59UTC/estacion/8178D/?api_key=eyJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ0c3NhbmNoZXpwYXN0b3JAZ21haWwuY29tIiwianRpIjoiYzQzZGM1ZmYtNmRiYS00MzFmLTk3OTEtZWMzNGE3YjUzMDI3IiwiaXNzIjoiQUVNRVQiLCJpYXQiOjE1NjY0Nzc2OTgsInVzZXJJZCI6ImM0M2RjNWZmLTZkYmEtNDMxZi05NzkxLWVjMzRhN2I1MzAyNyIsInJvbGUiOiIifQ.bjmGdiW9vQ2ThnrLryvCxv2tad8XRDXA9zlcBQRg-U4

In [25]:
api_json = urllib.request.urlopen(url).read().decode()
print(api_json)
# Cast api_json to dictionary
js = json.loads(api_json)

{
  "descripcion" : "exito",
  "estado" : 200,
  "datos" : "https://opendata.aemet.es/opendata/sh/7a2c40b1",
  "metadatos" : "https://opendata.aemet.es/opendata/sh/b3aa9d28"
}

In [26]:
metadata = json.loads(urllib.request.urlopen(js['metadatos']).read().decode("iso8859-1"))
def show_metadata(fields):
    for dic in range(len(metadata['campos'])):
        if metadata['campos'][dic]['id'] in fields:
            print(metadata['campos'][dic], '\n')

In [27]:
fields_md = ['indicativo', 'fecha', 'tmed', 'dir', 'velmedia', 'presmax', 'presmin']
show_metadata(fields_md)

{'id': 'fecha', 'descripcion': 'fecha del dia (AAAA-MM-DD)', 'tipo_datos': 'string', 'requerido': True}

{'id': 'indicativo', 'descripcion': 'indicativo climatológico', 'tipo_datos': 'string', 'requerido': True}

{'id': 'tmed', 'descripcion': 'Temperatura media diaria', 'tipo_datos': 'float', 'unidad': 'grados celsius', 'requerido': False}

{'id': 'dir', 'descripcion': 'Dirección de la racha máxima', 'tipo_datos': 'float', 'unidad': 'decenas de grado', 'requerido': False}

{'id': 'velmedia', 'descripcion': 'Velocidad media del viento', 'tipo_datos': 'float', 'unidad': 'm/s', 'requerido': False}

{'id': 'presmax', 'descripcion': 'Presión máxima al nivel de referencia de la estación', 'tipo_datos': 'float', 'unidad': 'hPa', 'requerido': False}

{'id': 'presmin', 'descripcion': 'Presión mínima al nivel de referencia de la estación', 'tipo_datos': 'float', 'unidad': 'hPa', 'requerido': False}

## Download the data

In [28]:
# Extract the data
data = json.loads(urllib.request.urlopen(js['datos']).read().decode())
print("The result is a list of length ", len(data))

The result is a list of length  731

## Dataframe

In [29]:
DF = pd.DataFrame(data)
DF.head()
print(DF.columns)

Index(['altitud', 'dir', 'fecha', 'horaPresMax', 'horaPresMin', 'horaracha',
       'horatmax', 'horatmin', 'indicativo', 'nombre', 'prec', 'presMax',
       'presMin', 'provincia', 'racha', 'sol', 'tmax', 'tmed', 'tmin',
       'velmedia'],
      dtype='object')

In [30]:
# The DF with the fields that we are interested in:
DF = DF.filter(['indicativo', 'fecha', 'tmed', 'dir', 'velmedia', 'presMax', 'presMin'])
DF.head()

  indicativo       fecha  tmed dir velmedia presMax presMin
0      8178D  2012-01-01  10,2  29      0,3   950,0   946,8
1      8178D  2012-01-02   8,9  28      3,6   954,4   942,3
2      8178D  2012-01-03   7,2  30      1,4   954,7   952,8
3      8178D  2012-01-04   7,8  29      1,7   955,9   952,1
4      8178D  2012-01-05  10,0  29      2,8   954,2   949,2

In [31]:
print('How many nulls are in the DF? ', DF.isnull().sum())

How many nulls are in the DF?  indicativo     0
fecha          0
tmed           0
dir            2
velmedia       2
presMax       30
presMin       30
dtype: int64

In [32]:
# Replace , to .
def replace_comas(field):
    output = []
    for elem in field.values:
        if isinstance(elem, str) and',' in elem:
            output.append(elem.replace(',', '.'))
        else:
            output.append(elem)
    return output

In [33]:
tmed = replace_comas(DF['tmed'])
velmedia = replace_comas(DF['velmedia'])
presMax = replace_comas(DF['presMax'])
presMin = replace_comas(DF['presMin'])
DF['tmed'] = tmed
DF['velmedia'] = velmedia
DF['presMax'] = presMax
DF['presMin'] = presMin

In [34]:
# Cast the fields
DF['tmed'] = DF['tmed'].astype(float)
DF['dir'] = DF['dir'].astype(float)
DF['velmedia'] = DF['velmedia'].astype(float) 
DF['presMax'] = DF['presMax'].astype(float) 
DF['presMin'] = DF['presMin'].astype(float)

In [35]:
DF

    indicativo       fecha  tmed   dir  velmedia  presMax  presMin
0        8178D  2012-01-01  10.2  29.0       0.3    950.0    946.8
1        8178D  2012-01-02   8.9  28.0       3.6    954.4    942.3
2        8178D  2012-01-03   7.2  30.0       1.4    954.7    952.8
3        8178D  2012-01-04   7.8  29.0       1.7    955.9    952.1
4        8178D  2012-01-05  10.0  29.0       2.8    954.2    949.2
5        8178D  2012-01-06  10.9  29.0       2.8    950.6    948.0
6        8178D  2012-01-07   7.2   NaN       NaN    951.7    949.3
7        8178D  2012-01-08   6.6  21.0       0.3    950.2    946.9
8        8178D  2012-01-09   6.6   4.0       0.6    951.6    947.5
9        8178D  2012-01-10   8.5   6.0       1.1    952.6    949.8
10       8178D  2012-01-11   7.0   2.0       0.6    953.1    950.7
11       8178D  2012-01-12   9.8   6.0       1.1    952.5    949.6
12       8178D  2012-01-13   7.8  28.0       1.1    949.8    945.4
13       8178D  2012-01-14   6.0  28.0       1.9    945.4    942.0
14       8178D  2012-01-15   5.5  30.0       1.7    942.8    937.1
15       8178D  2012-01-16   4.5  30.0       1.1    938.9    932.5
16       8178D  2012-01-17   6.4   5.0       1.1    952.3    938.9
17       8178D  2012-01-18   7.6   4.0       0.8    956.1    952.2
18       8178D  2012-01-19   5.8  26.0       0.3    959.1    955.9
19       8178D  2012-01-20   7.6  31.0       0.8    955.9    950.9
20       8178D  2012-01-21   8.0  27.0       0.3    951.5    948.4
21       8178D  2012-01-22   8.0  30.0       0.6    948.4    942.7
22       8178D  2012-01-23   7.8  25.0       0.6    943.5    940.9
23       8178D  2012-01-24   7.6  22.0       0.0    945.8    943.5
24       8178D  2012-01-25   7.4  21.0       0.3    944.9    937.4
25       8178D  2012-01-26   7.2  28.0       0.6    940.6    938.6
26       8178D  2012-01-27   7.4   5.0       1.4    944.6    940.1
27       8178D  2012-01-28   6.8  30.0       1.1    947.1    944.6
28       8178D  2012-01-29   4.6  30.0       1.9    945.7    942.4
29       8178D  2012-01-30   4.2  29.0       1.4    946.3    943.8
..         ...         ...   ...   ...       ...      ...      ...
701      8178D  2013-12-02   4.4  28.0       0.3    945.5    940.7
702      8178D  2013-12-03   5.6   2.0       0.3    949.0    945.5
703      8178D  2013-12-04   7.2  25.0       0.0    950.5    948.6
704      8178D  2013-12-05   7.6  28.0       0.8    950.4    947.3
705      8178D  2013-12-06   7.4  99.0       0.0    948.6    945.8
706      8178D  2013-12-07   5.9  20.0       0.0    946.8    944.8
707      8178D  2013-12-08   4.6  36.0       0.3    950.2    946.5
708      8178D  2013-12-09   6.4   6.0       1.1    951.9    950.2
709      8178D  2013-12-10   8.0   7.0       1.1    953.5    951.2
710      8178D  2013-12-11   7.4   4.0       1.4    954.8    951.7
711      8178D  2013-12-12   8.4  21.0       0.3    951.8    949.0
712      8178D  2013-12-13   6.2  26.0       1.7    949.8    946.6
713      8178D  2013-12-14   9.0   1.0       0.3    954.3    949.0
714      8178D  2013-12-15   7.8  99.0       0.6    955.1    952.7
715      8178D  2013-12-16   7.2   4.0       0.8    953.1    949.9
716      8178D  2013-12-17   9.2  99.0       0.3    950.5    948.0
717      8178D  2013-12-18   7.8  29.0       0.3    949.6    946.0
718      8178D  2013-12-19   7.4  29.0       1.4    946.0    934.9
719      8178D  2013-12-20   6.6  32.0       1.4    952.1    937.5
720      8178D  2013-12-21   5.0  23.0       0.3    955.0    951.9
721      8178D  2013-12-22   6.8  28.0       0.3    953.8    951.2
722      8178D  2013-12-23   6.8  99.0       0.3    951.8    944.9
723      8178D  2013-12-24   6.4  26.0       2.2    944.9    931.1
724      8178D  2013-12-25   7.0  29.0       3.9    931.8    922.8
725      8178D  2013-12-26   6.6  27.0       3.6    942.2    930.5
726      8178D  2013-12-27  10.0  22.0       2.8    942.0    936.5
727      8178D  2013-12-28   7.0  32.0       2.5    944.9    934.4
728      8178D  2013-12-29   4.6  30.0       2.2    952.1    944.9
729      8178D  2013-12-30   3.7  31.0       0.6    951.9    947.8
730      8178D  2013-12-31   5.5  29.0       1.1    947.8    942.7

[731 rows x 7 columns]

## Stations

In [36]:
url_estaciones = 'https://opendata.aemet.es/opendata/api/valores/climatologicos/inventarioestaciones/todasestaciones/?api_key={}'.format(api_key)
print(url_estaciones)

https://opendata.aemet.es/opendata/api/valores/climatologicos/inventarioestaciones/todasestaciones/?api_key=eyJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ0c3NhbmNoZXpwYXN0b3JAZ21haWwuY29tIiwianRpIjoiYzQzZGM1ZmYtNmRiYS00MzFmLTk3OTEtZWMzNGE3YjUzMDI3IiwiaXNzIjoiQUVNRVQiLCJpYXQiOjE1NjY0Nzc2OTgsInVzZXJJZCI6ImM0M2RjNWZmLTZkYmEtNDMxZi05NzkxLWVjMzRhN2I1MzAyNyIsInJvbGUiOiIifQ.bjmGdiW9vQ2ThnrLryvCxv2tad8XRDXA9zlcBQRg-U4

In [37]:
api_stations = urllib.request.urlopen(url_estaciones).read().decode()
js_stations = json.loads(api_stations)

In [38]:
print(api_stations)
print(js_stations['datos'])

{
  "descripcion" : "exito",
  "estado" : 200,
  "datos" : "https://opendata.aemet.es/opendata/sh/6e9ec5e5",
  "metadatos" : "https://opendata.aemet.es/opendata/sh/0556af7a"
}
https://opendata.aemet.es/opendata/sh/6e9ec5e5

In [39]:
metadata = json.loads(urllib.request.urlopen(js_stations['metadatos']).read().decode("iso8859-1"))
show_metadata(['indicativo', 'latitud', 'longitud', 'nombre', 'provincia'])

{'id': 'latitud', 'descripcion': 'latitud de la estación', 'tipo_datos': 'string', 'requerido': True}

{'id': 'provincia', 'descripcion': 'provincia donde reside la estación', 'tipo_datos': 'string', 'requerido': True}

{'id': 'indicativo', 'descripcion': 'indicativo climatológico de la estación', 'tipo_datos': 'string', 'requerido': True}

{'id': 'nombre', 'descripcion': 'ubicación de la estación', 'tipo_datos': 'string', 'requerido': True}

{'id': 'longitud', 'descripcion': 'longitud de la estación', 'tipo_datos': 'string', 'requerido': True}

In [40]:
data_stations = json.loads(urllib.request.urlopen(js_stations['datos']).read().decode('latin-1'))
DF_st = pd.DataFrame(data_stations)
DF_st = DF_st.filter(['indicativo', 'latitud', 'longitud', 'nombre', 'provincia'])
airports_position = DF_st['nombre'].str.contains('AEROPUERTO')
DF_airst = DF_st[airports_position]

In [41]:
def Final_DF(airports=None):
    # inputs a list with the names of the airport's cities
    i = 0
    output = {}
    for elem in airports:
        i += 1
        pos = DF_airst['nombre'].str.contains(elem)
        DF_final = DF_airst[pos]
        output['station' + str(i)] =  DF_final
    return output

In [42]:
def concat_dictionary(DIC):
    # Inputs a dictionary with the dataframes
    keys_list = [key for key in DIC.keys()]
    for j in range(len(keys_list)):
        if j == 0:
            Final = DIC[keys_list[0]]
        else:
            Final = pd.concat([Final, DIC[keys_list[j]]])
    return Final

In [43]:
DF_airports_dic = Final_DF(['BARCELONA', 'PAMPLONA', 'ZARAGOZA', 'HUESCA'])
DF_airports = concat_dictionary(DF_airports_dic)
DF_airports

    indicativo  latitud longitud                nombre  provincia
52        0076  411734N  020412E  BARCELONA AEROPUERTO  BARCELONA
219      9263D  424637N  013900W   PAMPLONA AEROPUERTO    NAVARRA
289       9434  413938N  010015W   ZARAGOZA AEROPUERTO   ZARAGOZA
140       9898  420504N  001932W     HUESCA AEROPUERTO     HUESCA