In [1]:
import numpy as np
import pandas as pd
import urllib
import json
import requests
from AEMET_Daily_class import AEMET_GET

In [2]:
years = [2012, 2013, 2014, 2015, 2016, 2017, 2018]
api_key='eyJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ0c3NhbmNoZXpwYXN0b3JAZ21haWwuY29tIiwianRpIjoiYzQzZGM1ZmYtNmRiYS00MzFmLTk3OTEtZWMzNGE3YjUzMDI3IiwiaXNzIjoiQUVNRVQiLCJpYXQiOjE1NjY0Nzc2OTgsInVzZXJJZCI6ImM0M2RjNWZmLTZkYmEtNDMxZi05NzkxLWVjMzRhN2I1MzAyNyIsInJvbGUiOiIifQ.bjmGdiW9vQ2ThnrLryvCxv2tad8XRDXA9zlcBQRg-U4'
fields = ['indicativo', 'fecha', 'tmed', 'dir', 'velmedia', 'presMax', 'presMin']

## Obtain the IDs of the airports

In [3]:
A = AEMET_GET(2012, 2012)
js_stations = A.connect(api_key, 'Station')

{
  "descripcion" : "exito",
  "estado" : 200,
  "datos" : "https://opendata.aemet.es/opendata/sh/6e9ec5e5",
  "metadatos" : "https://opendata.aemet.es/opendata/sh/0556af7a"
}

In [4]:
DF_air = A.get_stations(['BARCELONA', 'ZARAGOZA', 'PAMPLONA', 'HUESCA'], js_stations)
DF_air

    indicativo  latitud longitud                nombre  provincia
52        0076  411734N  020412E  BARCELONA AEROPUERTO  BARCELONA
219      9263D  424637N  013900W   PAMPLONA AEROPUERTO    NAVARRA
289       9434  413938N  010015W   ZARAGOZA AEROPUERTO   ZARAGOZA
140       9898  420504N  001932W     HUESCA AEROPUERTO     HUESCA

In [5]:
IDs, names = DF_air['indicativo'].values, DF_air['provincia'].values

In [6]:
print(IDs, names)

['0076' '9263D' '9434' '9898'] ['BARCELONA' 'NAVARRA' 'ZARAGOZA' 'HUESCA']

In [7]:
def Complete_Dictionary(names, years, IDs, fields):
    i = 0
    DIC = {}
    for ID in IDs:
        name = names[i]
        i += 1
        print('\n\nStation: '+ name)
        for year in years:
            print('Year: {}:'.format(year))
            A = AEMET_GET(year, year)
            js = A.connect(api_key, 'Data', ID)
            DIC[ID + str(year)] = A.get_DF(fields, js)
    return DIC

In [8]:
fields = ['indicativo', 'fecha', 'tmed', 'dir', 'velmedia', 'presMax', 'presMin']
DIC = Complete_Dictionary(names, years, IDs, fields)

Station: BARCELONA
Year: 2012:
{
  "descripcion" : "exito",
  "estado" : 200,
  "datos" : "https://opendata.aemet.es/opendata/sh/a6416e7e",
  "metadatos" : "https://opendata.aemet.es/opendata/sh/b3aa9d28"
}
Year: 2013:
{
  "descripcion" : "exito",
  "estado" : 200,
  "datos" : "https://opendata.aemet.es/opendata/sh/b7690312",
  "metadatos" : "https://opendata.aemet.es/opendata/sh/b3aa9d28"
}
Year: 2014:
{
  "descripcion" : "exito",
  "estado" : 200,
  "datos" : "https://opendata.aemet.es/opendata/sh/14a9a5d6",
  "metadatos" : "https://opendata.aemet.es/opendata/sh/b3aa9d28"
}
Year: 2015:
{
  "descripcion" : "exito",
  "estado" : 200,
  "datos" : "https://opendata.aemet.es/opendata/sh/c71399e6",
  "metadatos" : "https://opendata.aemet.es/opendata/sh/b3aa9d28"
}
Year: 2016:
{
  "descripcion" : "exito",
  "estado" : 200,
  "datos" : "https://opendata.aemet.es/opendata/sh/f54a2ea6",
  "metadatos" : "https://opendata.aemet.es/opendata/sh/b3aa9d28"
}
Year: 2017:
{
  "descripcion" : "exito",
  "estado" : 200,
  "datos" : "https://opendata.aemet.es/opendata/sh/21857e3a",
  "metadatos" : "https://opendata.aemet.es/opendata/sh/b3aa9d28"
}
Year: 2018:
{
  "descripcion" : "exito",
  "estado" : 200,
  "datos" : "https://opendata.aemet.es/opendata/sh/7c7d4d93",
  "metadatos" : "https://opendata.aemet.es/opendata/sh/b3aa9d28"
}


Station: NAVARRA
Year: 2012:
{
  "descripcion" : "exito",
  "estado" : 200,
  "datos" : "https://opendata.aemet.es/opendata/sh/5bb11c01",
  "metadatos" : "https://opendata.aemet.es/opendata/sh/b3aa9d28"
}
Year: 2013:
{
  "descripcion" : "exito",
  "estado" : 200,
  "datos" : "https://opendata.aemet.es/opendata/sh/2c053f8a",
  "metadatos" : "https://opendata.aemet.es/opendata/sh/b3aa9d28"
}
Year: 2014:
{
  "descripcion" : "exito",
  "estado" : 200,
  "datos" : "https://opendata.aemet.es/opendata/sh/3eefc638",
  "metadatos" : "https://opendata.aemet.es/opendata/sh/b3aa9d28"
}
Year: 2015:
{
  "descripcion" : "exito",
  "estado" : 200,
  "datos" : "https://opendata.aemet.es/opendata/sh/f23b3fa5",
  "metadatos" : "https://opendata.aemet.es/opendata/sh/b3aa9d28"
}
Year: 2016:
{
  "descripcion" : "exito",
  "estado" : 200,
  "datos" : "https://opendata.aemet.es/opendata/sh/086cc146",
  "metadatos" : "https://opendata.aemet.es/opendata/sh/b3aa9d28"
}
Year: 2017:
{
  "descripcion" : "exito",
  "estado" : 200,
  "datos" : "https://opendata.aemet.es/opendata/sh/73ccf3a2",
  "metadatos" : "https://opendata.aemet.es/opendata/sh/b3aa9d28"
}
Year: 2018:
{
  "descripcion" : "exito",
  "estado" : 200,
  "datos" : "https://opendata.aemet.es/opendata/sh/385c4f80",
  "metadatos" : "https://opendata.aemet.es/opendata/sh/b3aa9d28"
}


Station: ZARAGOZA
Year: 2012:
{
  "descripcion" : "exito",
  "estado" : 200,
  "datos" : "https://opendata.aemet.es/opendata/sh/195828b9",
  "metadatos" : "https://opendata.aemet.es/opendata/sh/b3aa9d28"
}
Year: 2013:
{
  "descripcion" : "exito",
  "estado" : 200,
  "datos" : "https://opendata.aemet.es/opendata/sh/ddc35a60",
  "metadatos" : "https://opendata.aemet.es/opendata/sh/b3aa9d28"
}
Year: 2014:
{
  "descripcion" : "exito",
  "estado" : 200,
  "datos" : "https://opendata.aemet.es/opendata/sh/36102a10",
  "metadatos" : "https://opendata.aemet.es/opendata/sh/b3aa9d28"
}
Year: 2015:
{
  "descripcion" : "exito",
  "estado" : 200,
  "datos" : "https://opendata.aemet.es/opendata/sh/a630b0ca",
  "metadatos" : "https://opendata.aemet.es/opendata/sh/b3aa9d28"
}
Year: 2016:
{
  "descripcion" : "exito",
  "estado" : 200,
  "datos" : "https://opendata.aemet.es/opendata/sh/e6cf80ca",
  "metadatos" : "https://opendata.aemet.es/opendata/sh/b3aa9d28"
}
Year: 2017:
{
  "descripcion" : "exito",
  "estado" : 200,
  "datos" : "https://opendata.aemet.es/opendata/sh/e8c31081",
  "metadatos" : "https://opendata.aemet.es/opendata/sh/b3aa9d28"
}
Year: 2018:
{
  "descripcion" : "exito",
  "estado" : 200,
  "datos" : "https://opendata.aemet.es/opendata/sh/a55e1091",
  "metadatos" : "https://opendata.aemet.es/opendata/sh/b3aa9d28"
}


Station: HUESCA
Year: 2012:
{
  "descripcion" : "exito",
  "estado" : 200,
  "datos" : "https://opendata.aemet.es/opendata/sh/17d1eadd",
  "metadatos" : "https://opendata.aemet.es/opendata/sh/b3aa9d28"
}
Year: 2013:
{
  "descripcion" : "exito",
  "estado" : 200,
  "datos" : "https://opendata.aemet.es/opendata/sh/3afdcdb5",
  "metadatos" : "https://opendata.aemet.es/opendata/sh/b3aa9d28"
}
Year: 2014:
{
  "descripcion" : "exito",
  "estado" : 200,
  "datos" : "https://opendata.aemet.es/opendata/sh/5fa06527",
  "metadatos" : "https://opendata.aemet.es/opendata/sh/b3aa9d28"
}
Year: 2015:
{
  "descripcion" : "exito",
  "estado" : 200,
  "datos" : "https://opendata.aemet.es/opendata/sh/d9b9b825",
  "metadatos" : "https://opendata.aemet.es/opendata/sh/b3aa9d28"
}
Year: 2016:
{
  "descripcion" : "exito",
  "estado" : 200,
  "datos" : "https://opendata.aemet.es/opendata/sh/8875578d",
  "metadatos" : "https://opendata.aemet.es/opendata/sh/b3aa9d28"
}
Year: 2017:
{
  "descripcion" : "exito",
  "estado" : 200,
  "datos" : "https://opendata.aemet.es/opendata/sh/1399a78b",
  "metadatos" : "https://opendata.aemet.es/opendata/sh/b3aa9d28"
}
Year: 2018:
{
  "descripcion" : "exito",
  "estado" : 200,
  "datos" : "https://opendata.aemet.es/opendata/sh/b5301f46",
  "metadatos" : "https://opendata.aemet.es/opendata/sh/b3aa9d28"
}

In [9]:
def concat_dictionary(DIC):
    keys_list = [key for key in DIC.keys()]
    for j in range(len(keys_list)):
        if j == 0:
            Final = DIC[keys_list[0]]
        else:
            Final = pd.concat([Final, DIC[keys_list[j]]])
    return Final

In [10]:
Data = concat_dictionary(DIC)
Data

    indicativo       fecha  tmed   dir  velmedia  presMax  presMin
0         9898  2013-01-01   7.5  28.0       9.2    955.5    950.5
1         9898  2013-01-02   7.8  29.0       6.1    963.1    955.5
2         9898  2013-01-03   6.1  99.0       2.5    972.3    963.1
3         9898  2013-01-04   6.0  16.0       1.7    972.3    967.8
4         9898  2013-01-05   8.8  99.0       3.1    967.8    962.4
5         9898  2013-01-06   8.4  28.0       2.2    962.6    960.1
6         9898  2013-01-07   9.0  28.0       2.8    960.3    958.6
7         9898  2013-01-08   6.3  28.0       2.5    962.2    960.3
8         9898  2013-01-09   2.6  29.0       3.9    960.6    954.2
9         9898  2013-01-10   9.2  31.0       8.9    956.4    954.2
10        9898  2013-01-11   7.0  29.0       4.7    956.6    954.5
11        9898  2013-01-12   7.4  24.0       2.8    954.6    946.7
12        9898  2013-01-13   5.0  29.0      10.0    949.2    944.6
13        9898  2013-01-14   5.2  28.0       8.1    951.4    949.2
14        9898  2013-01-15   3.8  28.0      10.8    951.0    946.5
15        9898  2013-01-16   5.3  28.0      10.0    947.9    939.5
16        9898  2013-01-17   6.6  29.0      11.1    945.7    939.5
17        9898  2013-01-18   7.5  30.0       4.7    944.8    932.8
18        9898  2013-01-19   7.2   9.0       3.6    932.8    918.0
19        9898  2013-01-20   5.4  28.0      10.0    936.3    921.4
20        9898  2013-01-21   4.6  28.0      10.8    945.9    936.1
21        9898  2013-01-22   0.8  28.0       3.3    945.8    938.4
22        9898  2013-01-23   3.1  30.0      13.9    944.6    937.9
23        9898  2013-01-24   4.2  33.0      10.3    947.6    939.1
24        9898  2013-01-25   4.5  29.0       3.6    949.6    945.5
25        9898  2013-01-26   8.0  30.0      11.4    953.5    944.3
26        9898  2013-01-27   6.4  32.0       1.9    953.5    947.7
27        9898  2013-01-28   7.2  30.0       9.4    960.0    947.9
28        9898  2013-01-29   7.2  26.0       2.5    962.3    960.0
29        9898  2013-01-30   9.7  28.0       4.7    963.1    960.6
..         ...         ...   ...   ...       ...      ...      ...
335       9434  2013-12-02   6.1  99.0       4.7    996.2    989.3
336       9434  2013-12-03   6.0  22.0       1.1    998.5    995.6
337       9434  2013-12-04   5.7  99.0       1.7    998.8    996.2
338       9434  2013-12-05   9.2  28.0       8.3    999.0    996.8
339       9434  2013-12-06   7.8  29.0       6.1    998.7    995.0
340       9434  2013-12-07   5.0  30.0       2.2    995.6    993.4
341       9434  2013-12-08   2.2   8.0       0.6   1000.0    995.6
342       9434  2013-12-09   2.8  12.0       0.0   1002.3    999.9
343       9434  2013-12-10   2.0   5.0       0.8   1004.2   1001.6
344       9434  2013-12-11   1.8  11.0       1.1   1004.4   1001.8
345       9434  2013-12-12   2.0  28.0       0.0   1002.3    999.4
346       9434  2013-12-13   4.4  30.0       0.8    999.4    995.4
347       9434  2013-12-14   5.6  10.0       0.8   1003.3    998.8
348       9434  2013-12-15   1.8  99.0       1.1   1005.2   1003.1
349       9434  2013-12-16   2.2  12.0       0.6   1003.1    999.1
350       9434  2013-12-17   6.2  11.0       0.0   1000.2    996.5
351       9434  2013-12-18   6.6   9.0       1.7    996.5    990.3
352       9434  2013-12-19   7.4  30.0       2.2    990.3    981.0
353       9434  2013-12-20   7.2  29.0       9.7   1001.5    985.6
354       9434  2013-12-21   3.5  12.0       0.3   1004.0   1001.2
355       9434  2013-12-22   3.8  12.0       1.1   1001.7    998.8
356       9434  2013-12-23   5.1  11.0       2.2    999.1    988.8
357       9434  2013-12-24   8.2  19.0       3.6    988.8    971.0
358       9434  2013-12-25  10.0  26.0       4.7    972.6    965.7
359       9434  2013-12-26   6.8  26.0       4.7    985.2    972.6
360       9434  2013-12-27   9.5  21.0       2.2    984.7    978.6
361       9434  2013-12-28   9.4  24.0       4.7    990.8    977.2
362       9434  2013-12-29   6.2  99.0       3.3   1000.3    990.8
363       9434  2013-12-30   3.8  23.0       1.1   1000.3    993.0
364       9434  2013-12-31   4.6  99.0       1.9    993.5    987.3

[10228 rows x 7 columns]

In [11]:
print(Data.describe())

               tmed          dir      velmedia       presMax       presMin
count  10170.000000  9921.000000  10173.000000  10173.000000  10172.000000
mean      15.524002    38.744683      4.081952    982.964799    978.174626
std        7.123949    31.698450      2.328702     24.943769     25.082155
min       -3.400000     1.000000      0.000000    931.300000    918.000000
25%        9.800000    20.000000      2.500000    961.200000    956.400000
50%       15.200000    29.000000      3.600000    979.200000    974.000000
75%       21.400000    35.000000      5.300000   1003.800000    998.600000
max       33.800000    99.000000     16.100000   1040.900000   1035.900000

In [12]:
print("How many null ar in the dataset? ", Data.isnull().sum())

How many null ar in the dataset?  indicativo      0
fecha           0
tmed           58
dir           307
velmedia       55
presMax        55
presMin        56
dtype: int64

In [13]:
def filter_duplicates(DF):
    duplicated = DF.duplicated()
    filter_duplicates = DF.duplicated(keep='first')
    return Data[~filter_duplicates]

In [14]:
Data = filter_duplicates(Data)

In [15]:
Data.sort_values('fecha').to_csv('~/Rn_Weekly_NN/AEMET/Data/Daily/BCN_ZGZ_PMP_Huesca_Daily' + str(years[0]) + '-' + str(years[-1]) + '.csv')

In [17]:
assert len(Data['fecha']) == (365 * len(years) + 2)*len(IDs), 'Shape of data incorrect'

10228

In [22]:
(365 * len(years) + 2)*len(IDs)
# 365 days by 7 years + 2 bisiestos multiplied by 4 stations

10228

In [21]:
Data[Data['fecha'] == '2019-01-01']

Empty DataFrame
Columns: [indicativo, fecha, tmed, dir, velmedia, presMax, presMin]
Index: []