In [1]:
import numpy as np
import pandas as pd
import urllib
import json
import requests

## Inputs: Dates and station identifier

In [123]:
# The date format could be AAAA or AAAA-M
start_date = '2012'
end_date = '2012' 
ID = '8178D'
print(f'\n Downloading data from {start_date} to {end_date} from the station with ID: {ID}')

 Downloading data from 2016 to 2016 from the station with ID: 8178D

## Stablish a connection to the api

In [124]:
api_key='eyJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ0c3NhbmNoZXpwYXN0b3JAZ21haWwuY29tIiwianRpIjoiYzQzZGM1ZmYtNmRiYS00MzFmLTk3OTEtZWMzNGE3YjUzMDI3IiwiaXNzIjoiQUVNRVQiLCJpYXQiOjE1NjY0Nzc2OTgsInVzZXJJZCI6ImM0M2RjNWZmLTZkYmEtNDMxZi05NzkxLWVjMzRhN2I1MzAyNyIsInJvbGUiOiIifQ.bjmGdiW9vQ2ThnrLryvCxv2tad8XRDXA9zlcBQRg-U4'

In [125]:
url = f'https://opendata.aemet.es/opendata/api/valores/climatologicos/mensualesanuales/datos/anioini/{start_date}/aniofin/{end_date}/estacion/{ID}/?api_key={api_key}'
print(url)

https://opendata.aemet.es/opendata/api/valores/climatologicos/mensualesanuales/datos/anioini/2016/aniofin/2016/estacion/8178D/?api_key=eyJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ0c3NhbmNoZXpwYXN0b3JAZ21haWwuY29tIiwianRpIjoiYzQzZGM1ZmYtNmRiYS00MzFmLTk3OTEtZWMzNGE3YjUzMDI3IiwiaXNzIjoiQUVNRVQiLCJpYXQiOjE1NjY0Nzc2OTgsInVzZXJJZCI6ImM0M2RjNWZmLTZkYmEtNDMxZi05NzkxLWVjMzRhN2I1MzAyNyIsInJvbGUiOiIifQ.bjmGdiW9vQ2ThnrLryvCxv2tad8XRDXA9zlcBQRg-U4

In [126]:
api_json = urllib.request.urlopen(url).read().decode()
print(api_json)

{
  "descripcion" : "exito",
  "estado" : 200,
  "datos" : "https://opendata.aemet.es/opendata/sh/f6454716",
  "metadatos" : "https://opendata.aemet.es/opendata/sh/997c0034"
}

## Download the data

In [127]:
# Cast api_json to dictionary
js = json.loads(api_json)
# Extract the data
data = json.loads(urllib.request.urlopen(js['datos']).read().decode())
print("The result is a list of length ", len(data))
print('i.e. we have to delete the last month of data')
data = data[:12]

The result is a list of length  13
i.e. we have to delete the last month of data

In [128]:
metadata = json.loads(urllib.request.urlopen(js['metadatos']).read().decode("iso8859-1").encode("utf8"))
fields = ['fecha', 'indicativo', 'tm_mes', 'q_med', 'w_racha']
for dic in range(len(metadata['campos'])):
    if metadata['campos'][dic]['id'] in fields:
        print(metadata['campos'][dic], '\n')

{'id': 'fecha', 'descripcion': 'ano y mes (AAAA-X) donde X es un número de 1 a 13, indicando el mes y el valor 13 indica valor anual', 'tipo_datos': 'string', 'requerido': True}

{'id': 'indicativo', 'descripcion': 'indicativo climatológico', 'tipo_datos': 'string', 'requerido': True}

{'id': 'tm_mes', 'descripcion': 'Temperatura media mensual/anual (grados celsius)', 'tipo_datos': 'string', 'unidad': 'grados celsius', 'requerido': False}

{'id': 'w_racha', 'descripcion': 'Dirección (decenas de grado), Velocidad (m/sg) y fecha de la racha máxima en el mes/año', 'tipo_datos': 'string', 'unidad': 'decenas de grado/ m/sg /fecha', 'requerido': False}

{'id': 'q_med', 'descripcion': 'Presión media mensual/anual al nivel de la estación (hPa)', 'tipo_datos': 'string', 'unidad': 'hPa', 'requerido': False}

## Dataframe

In [129]:
DF = pd.DataFrame(data)
DF.head()
print(DF.columns)

Index(['e', 'fecha', 'glo', 'hr', 'indicativo', 'n_fog', 'n_gra', 'n_llu',
       'n_nie', 'n_tor', 'np_001', 'np_010', 'np_100', 'np_300', 'nt_00',
       'nt_30', 'nw_55', 'nw_91', 'p_max', 'p_mes', 'q_mar', 'q_max', 'q_med',
       'q_min', 'ta_max', 'ta_min', 'ti_max', 'tm_max', 'tm_mes', 'tm_min',
       'ts_min', 'w_med', 'w_racha', 'w_rec'],
      dtype='object')

In [130]:
# The DF with the fields that we are interested in:
DF = DF.filter(fields)
DF.head()

    fecha indicativo tm_mes  q_med      w_racha
0  2016-1      8178D    8.9  944.5  27/17.8(04)
1  2016-2      8178D    8.6  941.4  27/24.7(06)
2  2016-3      8178D    9.6  938.2  29/15.0(09)
3  2016-4      8178D   13.2  936.8  99/15.0(12)
4  2016-5      8178D   16.4  938.3  29/18.1(28)

In [131]:
print('How many nulls are in the DF? ', DF.isnull().sum().sum())

How many nulls are in the DF?  0

In [110]:
def w_racha_splitter(col=None):
    w_racha = DF[col].values
    direction = []
    V = []
    for elem in w_racha:
        direction.append(elem[:-4].split('/')[0])
        V.append(elem[:-4].split('/')[1])
    return direction, V

In [111]:
direction, V = w_racha_splitter('w_racha')

In [133]:
DF['w_direction'] = direction
DF['Vel'] = V

In [134]:
# Cast the fields
DF['tm_mes'] = DF['tm_mes'].astype(float)
DF['q_med'] = DF['q_med'].astype(float)
DF['w_direction'] = DF['w_direction'].astype(float) 
DF['Vel'] = DF['Vel'].astype(float)

In [136]:
DF.describe()

          tm_mes       q_med  w_direction        Vel
count  12.000000   12.000000    12.000000  12.000000
mean   15.950000  941.166667    38.083333  14.800000
std     7.237214    3.090847    26.259053   3.939543
min     7.600000  936.800000    16.000000  10.300000
25%     9.425000  939.125000    27.000000  12.450000
50%    14.800000  940.950000    29.000000  13.900000
75%    22.900000  942.625000    29.500000  15.700000
max    26.900000  948.100000    99.000000  24.700000