In [215]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from scipy.stats.mstats import kruskalwallis
from scipy.stats import wilcoxon
plt.rc('text',usetex=True)
plt.rc('font',family='serif')
plt.rcParams['xtick.labelsize']=13
plt.rcParams['ytick.labelsize']=13
plt.rcParams['axes.labelsize']=16
plt.rcParams['axes.titlesize']=16

# Statistical Test

In [216]:
def toLatexformat(DF):
    array = DF.describe().loc[['mean', 'std'], :].round(2).values
    for i in range(array.shape[1]):
        print('${:.2f} \pm {:.2f} $ &'.format(round(array[0][i], 2), round(array[1][i], 2)), end=' ')

## ANN

In [217]:
DF2_Fw = pd.read_csv('../logs/ErrorsANN2Fw.csv')
DF4_Fw = pd.read_csv('../logs/ErrorsANN4Fw.csv')
DF6_Fw = pd.read_csv('../logs/ErrorsANN6Fw.csv')
DF8_Fw = pd.read_csv('../logs/ErrorsANN8Fw.csv')

### Mins

In [218]:
DF2_Fw.describe().loc[['mean', 'min']]

            Rn       BCN       PMP       ZGZ       HSC
mean  6.520013  5.867432  6.232210  5.787662  5.929926
min   5.330593  5.074271  4.686177  4.808072  5.037971

In [219]:
DF4_Fw.describe().loc[['mean', 'min']]

            Rn       BCN       PMP       ZGZ       HSC
mean  5.924497  5.912232  5.625930  5.695711  5.897643
min   4.338867  3.855956  3.954969  4.111015  3.535242

In [220]:
DF6_Fw.describe().loc[['mean', 'min']]

            Rn       BCN       PMP       ZGZ       HSC
mean  5.851405  5.975562  6.595313  6.117845  6.120302
min   3.916265  3.844266  4.440330  4.073508  3.388694

In [221]:
DF8_Fw.describe().loc[['mean', 'min']]

            Rn       BCN       PMP       ZGZ       HSC
mean  6.556782  6.724600  6.518925  6.600968  6.884781
min   3.875296  4.278944  3.558393  4.092646  4.850584

### Latex

In [222]:
DF2_Fw.describe().loc[['mean', 'std'], :]
toLatexformat(DF2_Fw)

$6.52 \pm 1.29 $ & $5.87 \pm 0.72 $ & $6.23 \pm 1.25 $ & $5.79 \pm 0.74 $ & $5.93 \pm 0.89 $ &

In [223]:
DF4_Fw.describe().loc[['mean', 'std'], :]
toLatexformat(DF4_Fw)

$5.92 \pm 1.17 $ & $5.91 \pm 1.36 $ & $5.63 \pm 1.56 $ & $5.70 \pm 1.09 $ & $5.90 \pm 1.52 $ &

In [224]:
DF6_Fw.describe().loc[['mean', 'std'], :]
toLatexformat(DF6_Fw)

$5.85 \pm 1.48 $ & $5.98 \pm 1.31 $ & $6.60 \pm 1.79 $ & $6.12 \pm 1.50 $ & $6.12 \pm 1.58 $ &

In [225]:
DF8_Fw.describe().loc[['mean', 'std'], :]
toLatexformat(DF8_Fw)

$6.56 \pm 1.63 $ & $6.72 \pm 1.82 $ & $6.52 \pm 1.53 $ & $6.60 \pm 1.94 $ & $6.88 \pm 1.56 $ &

In [226]:
kruskalwallis(DF4_Fw['Rn'].values, DF4_Fw['BCN'].values, DF4_Fw['PMP'].values, DF4_Fw['ZGZ'].values, 
              DF4_Fw['HSC'].values)[1]

0.803062577328434

In [227]:
wilcoxon(DF4_Fw['Rn'], DF4_Fw['PMP'])[1]

0.326049462728915

## CNN

In [228]:
DF2_Fw = pd.read_csv('../logs/ErrorsCNN2Fw.csv')
DF4_Fw = pd.read_csv('../logs/ErrorsCNN4Fw.csv')
DF6_Fw = pd.read_csv('../logs/ErrorsCNN6Fw.csv')
DF8_Fw = pd.read_csv('../logs/ErrorsCNN8Fw.csv')

### Mins

In [229]:
DF2_Fw.describe().loc[['mean', 'min']]

            Rn       BCN       PMP       ZGZ       HSC
mean  7.598880  6.451909  6.660206  6.626693  6.869242
min   6.674835  5.941878  5.975408  5.821635  5.561251

In [230]:
DF4_Fw.describe().loc[['mean', 'min']]

            Rn       BCN       PMP       ZGZ       HSC
mean  6.600680  6.218914  6.193351  6.282369  6.313212
min   6.078725  5.608661  5.540655  5.501470  5.534487

In [231]:
DF6_Fw.describe().loc[['mean', 'min']]

            Rn       BCN       PMP       ZGZ       HSC
mean  6.510889  6.087122  6.127800  6.003474  6.230648
min   5.541320  5.242864  5.677345  5.521731  5.624696

In [232]:
DF8_Fw.describe().loc[['mean', 'min']]

            Rn       BCN       PMP       ZGZ       HSC
mean  6.350361  6.056492  6.151338  6.029704  5.931328
min   5.457878  5.358716  5.198308  5.342781  5.379549

### Latex table

In [233]:
toLatexformat(DF2_Fw)

$7.60 \pm 0.59 $ & $6.45 \pm 0.36 $ & $6.66 \pm 0.99 $ & $6.63 \pm 0.52 $ & $6.87 \pm 0.83 $ &

In [234]:
toLatexformat(DF4_Fw)

$6.60 \pm 0.41 $ & $6.22 \pm 0.39 $ & $6.19 \pm 0.28 $ & $6.28 \pm 0.48 $ & $6.31 \pm 0.54 $ &

In [235]:
toLatexformat(DF6_Fw)

$6.51 \pm 0.47 $ & $6.09 \pm 0.51 $ & $6.13 \pm 0.39 $ & $6.00 \pm 0.40 $ & $6.23 \pm 0.46 $ &

In [236]:
toLatexformat(DF8_Fw)

$6.35 \pm 0.52 $ & $6.06 \pm 0.51 $ & $6.15 \pm 0.53 $ & $6.03 \pm 0.42 $ & $5.93 \pm 0.30 $ &

In [237]:
kruskalwallis(DF8_Fw['Rn'].values, DF8_Fw['BCN'].values, DF8_Fw['PMP'].values, DF8_Fw['ZGZ'].values, 
              DF8_Fw['HSC'].values)[1]

0.04631326443223933

In [238]:
wilcoxon(DF8_Fw['Rn'], DF8_Fw['HSC'])[1]

0.0005451350295901154

The correction of Bonferroni says that the maximal pvalue might be 0.05/4 = 0.0125 < 0.0148, so this case also pass the test

# RNN

In [239]:
DF2_Fw = pd.read_csv('../logs/ErrorsRNN2Fw.csv')
DF4_Fw = pd.read_csv('../logs/ErrorsRNN4Fw.csv')
DF6_Fw = pd.read_csv('../logs/ErrorsRNN6Fw.csv')
DF8_Fw = pd.read_csv('../logs/ErrorsRNN8Fw.csv')

### Mins

In [240]:
DF2_Fw.describe().loc[['mean', 'min']]

            Rn       BCN       PMP       ZGZ       HSC
mean  7.891158  8.963531  9.030446  9.178566  8.990251
min   7.287480  8.015501  8.346439  8.621454  8.022470

In [242]:
DF4_Fw.describe().loc[['mean', 'min']]

            Rn       BCN       PMP       ZGZ       HSC
mean  6.810905  7.789104  7.834114  7.682515  7.750010
min   6.299880  7.142755  7.148082  6.955371  7.221534

In [243]:
DF6_Fw.describe().loc[['mean', 'min']]

            Rn       BCN       PMP       ZGZ       HSC
mean  6.484067  7.434661  7.370408  7.473459  7.463028
min   6.025488  6.751123  6.761493  6.895880  6.807003

In [244]:
DF8_Fw.describe().loc[['mean', 'min']]

            Rn       BCN       PMP       ZGZ       HSC
mean  6.481366  7.307257  7.197739  7.331811  7.246726
min   6.047612  6.762498  6.757382  6.604375  6.823160

In [245]:
toLatexformat(DF2_Fw)

$7.89 \pm 0.27 $ & $8.96 \pm 0.47 $ & $9.03 \pm 0.34 $ & $9.18 \pm 0.41 $ & $8.99 \pm 0.44 $ &

In [246]:
toLatexformat(DF4_Fw)

$6.81 \pm 0.28 $ & $7.79 \pm 0.34 $ & $7.83 \pm 0.43 $ & $7.68 \pm 0.25 $ & $7.75 \pm 0.36 $ &

In [247]:
toLatexformat(DF6_Fw)

$6.48 \pm 0.30 $ & $7.43 \pm 0.30 $ & $7.37 \pm 0.27 $ & $7.47 \pm 0.25 $ & $7.46 \pm 0.39 $ &

In [248]:
toLatexformat(DF8_Fw)

$6.48 \pm 0.23 $ & $7.31 \pm 0.28 $ & $7.20 \pm 0.21 $ & $7.33 \pm 0.25 $ & $7.25 \pm 0.25 $ &

In [252]:
kruskalwallis(DF8_Fw['Rn'].values, DF8_Fw['BCN'].values, DF8_Fw['PMP'].values, DF8_Fw['ZGZ'].values, 
              DF8_Fw['HSC'].values)[1]

2.237002782950598e-12

In [251]:
wilcoxon(DF8_Fw['Rn'].values, DF8_Fw['PMP'].values)[1]

1.2290322210248409e-05