In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from utils.aemepy import avg_per_weeks

In [2]:
BCN = pd.read_csv('~/CIEMAT/Rn_Weekly_NN/AEMET/Data/Daily/BCN/BCN_notnulls.csv', usecols=range(2,6))
BCN['fecha'] = pd.to_datetime(BCN['fecha'])
BCN.head()

       fecha  tmed  velmedia  presmed
0 2013-07-07  25.8       2.8  1020.60
1 2013-07-08  26.2       3.9  1020.40
2 2013-07-09  25.6       3.9  1018.05
3 2013-07-10  25.0       3.3  1014.10
4 2013-07-11  25.2       4.4  1012.80

In [3]:
BCN.dtypes

fecha       datetime64[ns]
tmed               float64
velmedia           float64
presmed            float64
dtype: object

In [4]:
BCN_weeks = BCN.set_index(pd.DatetimeIndex(BCN['fecha'])).resample('W').mean()

In [5]:
BCN_weeks.head()

                 tmed  velmedia      presmed
fecha
2013-07-07  25.800000  2.800000  1020.600000
2013-07-14  25.642857  3.914286  1016.357143
2013-07-21  26.028571  4.285714  1017.578571
2013-07-28  27.214286  4.900000  1013.457143
2013-08-04  25.785714  4.528571  1018.435714

In [6]:
BCN[(BCN['fecha'] <= '2013-07-14') & (BCN['fecha'] > '2013-07-07')].describe()

            tmed  velmedia      presmed
count   7.000000  7.000000     7.000000
mean   25.642857  3.914286  1016.357143
std     0.588380  0.467007     2.588183
min    25.000000  3.300000  1012.800000
25%    25.100000  3.600000  1014.550000
50%    25.600000  3.900000  1016.650000
75%    26.200000  4.300000  1017.775000
max    26.300000  4.400000  1020.400000

### The first avg is the first row, the second row is computed doing the avg between 2013-07-08 to 2013-07-14 and so on

In [7]:
list_cities = ['BCN', 'NVR', 'HSC', 'ZGZ']
dic = {}
for city in list_cities:
    dic[city] = pd.read_csv(f'~/CIEMAT/Rn_Weekly_NN/AEMET/Data/Daily/{city}/{city}_notnulls.csv',
                            usecols=['fecha', 'tmed', 'presmed', 'velmedia'])
    dic[city + '_avg'] = pd.read_csv(f'~/CIEMAT/Rn_Weekly_NN/AEMET/Data/Daily/{city}/{city}_avgfilled.csv',
                                     usecols=['fecha', 'tmed', 'presmed', 'velmedia'])

In [8]:
# New DF with means by weeks
output = {}
for key in dic.keys():
    output[key + '_weekly'] = avg_per_weeks(dic[key])

In [9]:
for key in output.keys():
    print(key)

BCN_weekly
BCN_avg_weekly
NVR_weekly
NVR_avg_weekly
HSC_weekly
HSC_avg_weekly
ZGZ_weekly
ZGZ_avg_weekly

In [14]:
NVR = dic['NVR']
NVR.isnull().sum()

fecha       0
tmed        0
velmedia    0
presmed     0
dtype: int64

In [43]:
NVR_w = output['NVR_weekly']
NVR_w[NVR_w['velmedia'].isnull()]

            tmed  velmedia  presmed
fecha
2015-05-10   NaN       NaN      NaN
2015-05-17   NaN       NaN      NaN
2015-05-24   NaN       NaN      NaN

In [44]:
NVR[(NVR['fecha'] > '2015-05-01')]

           fecha  tmed  velmedia  presmed
655   2015-05-29  14.6       5.0   964.70
656   2015-05-30  14.2       4.2   965.85
657   2015-05-31  18.3       2.8   965.90
658   2015-06-01  21.6       3.3   965.10
659   2015-06-02  22.0       3.1   967.00
660   2015-06-03  23.6       1.7   968.90
661   2015-06-04  23.4       2.8   967.45
662   2015-06-05  23.2       3.9   967.85
663   2015-06-06  21.2       5.0   970.70
664   2015-06-07  22.7       2.2   969.55
665   2015-06-08  22.0       5.0   967.00
666   2015-06-09  18.6       6.7   965.10
667   2015-06-10  14.8       1.4   962.60
668   2015-06-11  16.4       2.8   960.10
669   2015-06-12  17.8       1.9   958.55
670   2015-06-13  18.6       0.6   958.90
671   2015-06-14  17.0       2.5   961.50
672   2015-06-15  15.8       6.4   966.30
673   2015-06-16  15.3       6.4   971.25
674   2015-06-17  16.4       7.5   971.95
675   2015-06-18  17.0       8.6   970.95
676   2015-06-19  17.2       5.8   969.60
677   2015-06-20  18.8       6.9   968.85
678   2015-06-21  19.6       3.6   967.00
679   2015-06-22  22.8       2.5   962.80
680   2015-06-23  19.2       6.7   964.55
681   2015-06-24  18.6       3.9   967.40
682   2015-06-25  21.0       2.2   968.90
683   2015-06-26  24.0       3.9   968.50
684   2015-06-27  23.1       4.4   968.80
...          ...   ...       ...      ...
2117  2019-06-20  17.9       6.7   963.80
2118  2019-06-21  15.6       5.3   965.60
2119  2019-06-22  18.8       1.7   963.35
2120  2019-06-23  24.8       3.1   959.65
2121  2019-06-24  23.6       4.2   961.90
2122  2019-06-25  25.6       2.5   963.10
2123  2019-06-26  26.7       2.8   963.80
2124  2019-06-27  30.0       3.6   965.50
2125  2019-06-28  27.8       2.2   965.10
2126  2019-06-29  28.0       4.4   963.30
2127  2019-06-30  27.0       3.6   964.25
2128  2019-07-03  25.2       2.5   962.55
2129  2019-07-04  26.9       2.2   963.00
2130  2019-07-05  27.9       3.9   962.65
2131  2019-07-06  27.6       3.9   961.25
2132  2019-07-07  24.5       5.8   961.95
2133  2019-07-08  22.4       4.2   961.25
2134  2019-07-09  19.1       6.1   964.35
2135  2019-07-10  21.0       5.3   969.85
2136  2019-07-11  21.7       3.1   963.95
2137  2019-07-12  23.2       3.6   965.05
2138  2019-07-13  22.8       5.6   962.85
2139  2019-07-14  21.8       6.7   963.00
2140  2019-07-15  21.0       7.2   963.80
2141  2019-07-16  20.8       3.9   964.10
2142  2019-07-17  21.9       5.0   964.20
2143  2019-07-18  20.0       6.7   965.40
2144  2019-07-19  23.0       3.3   962.80
2145  2019-07-20  25.7       4.4   964.95
2146  2019-07-21  25.2       4.2   968.85

[1492 rows x 4 columns]

In [ ]:
# Saving:
# for key in output.keys():
#     output[key].to_csv(f'~/CIEMAT/Rn_Weekly_NN/AEMET/Data/Daily/{key}/{city}_notnulls.csv')