In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from utils.aemepy import avg_per_weeks

In [2]:
BCN = pd.read_csv('~/CIEMAT/Rn_Weekly_NN/AEMET/Data/Daily/BCN/BCN_notnulls.csv', usecols=range(2,6))
BCN['fecha'] = pd.to_datetime(BCN['fecha'])
BCN.head()

       fecha  tmed  velmedia  presmed
0 2013-07-07  25.8       2.8  1020.60
1 2013-07-08  26.2       3.9  1020.40
2 2013-07-09  25.6       3.9  1018.05
3 2013-07-10  25.0       3.3  1014.10
4 2013-07-11  25.2       4.4  1012.80

In [3]:
BCN.dtypes

fecha       datetime64[ns]
tmed               float64
velmedia           float64
presmed            float64
dtype: object

In [4]:
BCN_weeks = BCN.set_index(pd.DatetimeIndex(BCN['fecha'])).resample('W').mean()

In [5]:
BCN_weeks.head()

                 tmed  velmedia      presmed
fecha
2013-07-07  25.800000  2.800000  1020.600000
2013-07-14  25.642857  3.914286  1016.357143
2013-07-21  26.028571  4.285714  1017.578571
2013-07-28  27.214286  4.900000  1013.457143
2013-08-04  25.785714  4.528571  1018.435714

In [6]:
BCN[(BCN['fecha'] <= '2013-07-14') & (BCN['fecha'] > '2013-07-07')].describe()

            tmed  velmedia      presmed
count   7.000000  7.000000     7.000000
mean   25.642857  3.914286  1016.357143
std     0.588380  0.467007     2.588183
min    25.000000  3.300000  1012.800000
25%    25.100000  3.600000  1014.550000
50%    25.600000  3.900000  1016.650000
75%    26.200000  4.300000  1017.775000
max    26.300000  4.400000  1020.400000

### The first avg is the first row, the second row is computed doing the avg between 2013-07-08 to 2013-07-14 and so on

In [16]:
list_cities = ['BCN', 'NVR', 'HSC', 'ZGZ']
dic = {}
for city in list_cities:
    dic[city] = pd.read_csv(f'~/CIEMAT/Rn_Weekly_NN/AEMET/Data/Daily/{city}/{city}_notnulls.csv',
                            usecols=['fecha', 'tmed', 'presmed', 'velmedia'])
    dic[city + '_avg'] = pd.read_csv(f'~/CIEMAT/Rn_Weekly_NN/AEMET/Data/Daily/{city}/{city}_avgfilled.csv',
                                     usecols=['fecha', 'tmed', 'presmed', 'velmedia'])

In [17]:
# New DF with means by weeks
output = {}
for key in dic.keys():
    output[key + '_weekly'] = avg_per_weeks(dic[key])

BCN
BCN_avg
NVR
NVR_avg
HSC
HSC_avg
ZGZ
ZGZ_avg

In [23]:
for key in output.keys():
    print(key)

BCN_weekly
BCN_avg_weekly
NVR_weekly
NVR_avg_weekly
HSC_weekly
HSC_avg_weekly
ZGZ_weekly
ZGZ_avg_weekly

In [ ]:
# Saving:
# for key in output.keys():
#     output[key].to_csv(f'~/CIEMAT/Rn_Weekly_NN/AEMET/Data/Daily/{key}/{city}_notnulls.csv')